In [30]:
#  short workbook to convert currency string into float number value
import pandas as pd
import numpy as np

import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 14
matplotlib.rcParams['xtick.labelsize'] = 12
matplotlib.rcParams['ytick.labelsize'] = 12
matplotlib.rcParams['text.color'] = 'G'
from statsmodels.tsa.seasonal import seasonal_decompose

In [37]:
df = pd.read_csv('ma_lga_12345.csv', index_col = 0, parse_dates = True)

In [38]:
df_h2 = df.reset_index()
df_h2 = df_h2[(df_h2.type == 'house') & (df_h2.bedrooms == 2)]

In [39]:
# reseting index to datetime
df_h2 = df_h2.set_index('saledate').drop(['type', 'bedrooms'], axis = 1)

In [40]:
df_h2

                MA
saledate
2007-09-30  441854
2007-12-31  441854
2008-03-31  441854
2008-06-30  441854
2008-09-30  451583
2008-12-31  440256
2009-03-31  442566
2009-06-30  446113
2009-09-30  440123
2009-12-31  442131
2010-03-31  459222
2010-06-30  456822
2010-09-30  457806
2010-12-31  459109
2011-03-31  460758
2011-06-30  464788
2011-09-30  467546
2011-12-31  470333
2012-03-31  470365
2012-06-30  469149
2012-09-30  465919
2012-12-31  463090
2013-03-31  451077
2013-06-30  451516
2013-09-30  454270
2013-12-31  456548
2014-03-31  469920
2014-06-30  472726
2014-09-30  475326
2014-12-31  478413
2015-03-31  478398
2015-06-30  477238
2015-09-30  477330
2015-12-31  479010
2016-03-31  482440
2016-06-30  486436
2016-09-30  489104
2016-12-31  491152
2017-03-31  494544
2017-06-30  498846
2017-09-30  504592
2017-12-31  506578
2018-03-31  507248
2018-06-30  506116
2018-09-30  504318
2018-12-31  506001
2019-03-31  496133
2019-06-30  500158
2019-09-30  510712